# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules/
npm-debug.log
yarn-error.log
gh_2.0.0_windows_amd64
bin
package-lock.json
tsconfig.app.json
tsconfig.json
tsconfig.spec.json
tslint.json
tsconfig.server.json
tsconfig.server.prod.json
tsconfig.server.dev.json
tsconfig.server.test.json
tsconfig.server.prod.aot.json
tsconfig.server.prod.ngcc.json
tsconfig.server.prod.ngcc.aot.json
vite.config.ts
eslint.config.js
public


